@import "tailwindcss";
.item-style {
  @apply p-1 hover:p-1 border border-transparent hover:border-white rounded-sm  cursor-pointer transition-all duration-200;
}

/* Hide scrollbar but allow scrolling */
.scroll-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scroll-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
